<style>
    
body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#f44336;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	
}
.float:hover{
	background-color: #e53935;
	color:#FFF;
}
.my-float{
	margin-top:19px;
}
</style>

<a href="/stories/add" class="float">
<i class="fa fa-plus my-float" style="font-size: 25px;"></i>
</a>
