
<nav class="navbar navbar-dark navbar-expand-md navigation-clean" style="background-color: #212121;">
  <div class="container-fluid">
    <div class="navbar-brand" href="#">
        <h2 class="ui header" style="margin:10px;color:#fafafa;font-family: 'Sacramento', cursive;font-size:33px">GoodStories</h2>
        </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="ui primary button" style="margin-top: 7px;" href="/stories">
            <i class="heart icon"></i>
            Public Stories
            </a>
            </li>
                <li class="nav-item">
            <a class="ui blue button" style="margin-top: 7px;" href="/dashboard">
                <i class="home icon"></i>
            Dashboard
            </a>
            </li>
            </ul>
      <a class="ui animated red button" tabindex="0" href="/auth/logout">
        <div class="visible content">Logout</div>
        <div class="hidden content">
            <i class="logout icon"></i>
        </div>
        </a>
    </div>
  </div>
</nav>