
      <div class="section-desktop" id="desktop" style="text-align: center;">
        <h1 class="ui header" style="display: inline;">
          <img src="https://img.icons8.com/plasticine/2x/flower-doodle.png">
          <div class="content" style="color: #2196f3; font-family: 'Playfair Display', serif;margin-left:-15px">
        GoodStories
      </div>
      <div class="ui divider"></div>
      <div class="sub header" style="margin-top:10px;font-size:20px;font-family: 'Roboto', sans-serif;color:#2196f3">Stories With Life</div>
    </h1>
    <div class="ui divider"></div>
      <a class="ui animated big button ui secondary button" tabindex="0" href="/auth/google" style="margin-bottom:20px;margin-top:20px;font-family: 'Roboto', sans-serif;">
        <div class="visible content">Login With Google</div>
        <div class="hidden content" style="color: #2196f3;">
        <i class="google icon"></i>
        </div>
      </a>
      </div>
    
      <div class="section-mobile" id="mobile">
         <h1 class="ui header" style="display: inline;">
     <img src="https://img.icons8.com/plasticine/2x/flower-doodle.png">
     
      <div class="content" style="color: #2196f3; font-family: 'Playfair Display', serif;margin-left:-15px">
        GoodStories
      </div>
       <div class="ui divider"></div>
       <div class="sub header" style="margin-top:10px;font-size:20px;font-family: 'Roboto', sans-serif;color:#2196f3">Stories With Life</div>
      
       <div class="ui divider"></div>
       </h2>
          <a class="ui secondary button" href="/auth/google" style="font-family: 'Roboto', sans-serif;">
              <i class="google icon"></i>
              Login With Google
          </a>
      </div>