
      <div class="section-desktop" id="desktop" style="text-align: center;">
        <img src="https://img.icons8.com/plasticine/2x/flower-doodle.png" style="width: 40%;">
        <h1 class="ui header">
      
          <div class="content" style="color: #f44336; font-family: 'Sacramento', cursive;margin-left:-15px;font-size:45px;">
        GoodStories
      </div>
   
      <div class="ui divider"></div>
      <div class="sub header" style="margin-top:10px;font-size:20px;font-family: 'Roboto', sans-serif;color:#f44336">A place to tell your story!</div>
    </h1>
    <div class="ui divider"></div>
      <a class="ui animated big button ui button" tabindex="0" href="/auth/google" style="margin-bottom:20px;margin-top:20px;font-family: 'Roboto', sans-serif;background-color:#f44336">
        <div class="visible content" style="color: #ffffff;">Login with your Google Account</div>
        <div class="hidden content" style="color: #ffffff;">
        <i class="google icon"></i>
        </div>
      </a>
      </div>
    
      <div class="section-mobile" id="mobile">
           <img src="https://img.icons8.com/plasticine/2x/flower-doodle.png" style="width: 40%;">
         <h1 class="ui header">
  
     
      <div class="content" style="color: #f44336; font-family: 'Sacramento', cursive;margin-left:-15px;margin-top:-20px;font-size:35px">
        GoodStories
      </div>
      
       <div class="ui divider" style="margin-top: -10px;"></div>
       <div class="sub header" style="margin-top:10px;font-size:15px;font-family: 'Roboto', sans-serif;color:#f44336">A place to tell your story!</div>
      
       <div class="ui divider"></div>
       </h2>
          <a class="ui button" href="/auth/google" style="font-family: 'Roboto', sans-serif;color:#ffffff;background-color:#f44336">
              <i class="google icon"></i>
              Login With your Google Account
          </a>
      </div>