@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
@import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Sacramento&display=swap');

.container-login{
    text-align: center;
    margin-top: 20px;
    justify-content: center;
   
    
}
#desktop {
    display: none;
  }
  
@media screen and (min-width: 701px) {
    #mobile {
      display: none;
    }
    #desktop {
      display: block;
    }
  }