
<div class="col" style="text-align: center;">
<h1 style="color:white ;">Server Error!</h1>
<p style="color:white ;">We are sorry, this resource is not found</p>
<a href="/dashboard" class="ui primary button">Go to Dashboard</a>
</div>